<?xml version="1.0"?>

<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>
  <appSettings>
    <!--<add key="AppID" value="882926085087710"/>
    <add key="AppSecret" value="593e010203de4c98dddca13525ccca02"/>-->
    <add key="AppID" value="911445775694635"/>
    <add key="AppSecret" value="62a32caeb16bfd66f0fed304ac0b1ee7"/>
   <add key="ValidationSettings:UnobtrusiveValidationMode" value="None" />
  </appSettings>

     
   
  <system.web>
    <compilation debug="true" targetFramework="4.5" />
    <httpRuntime targetFramework="4.5" maxRequestLength="999999999" />
  </system.web>

</configuration>
